<?xml version="1.0"?>
<robot name="lukas" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Primero incluir tu robot -->
  <xacro:include filename="$(find lukas_description)/urdf/lukas.xacro"/>

  <!-- ===================================================== -->
  <!--                ROS 2 Control Integration              -->
  <!-- ===================================================== -->
  <ros2_control name="LukasSystem" type="system">
    <hardware>
      <plugin>lukas_control/TopicBasedSystem</plugin>
      <param name="uart_device">/dev/tty.usbserial-3130</param>
      <param name="baud_rate">115200</param>
      <param name="use_realtime">true</param>
    </hardware>

    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <joint name="joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

  </ros2_control>

</robot>
