controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

#     # joint_trajectory_controller:
#     #   type: joint_trajectory_controller/JointTrajectoryController
    

joint_state_broadcaster:
  ros__parameters:
    joints:
      - joint1
      - joint2
    extra_joints:
      - base_link

    interface_name: position


# joint_trajectory_controller:
#   ros__parameters:
#     joints:
#       - arm_shoulder_pan_joint
#       - arm_shoulder_lift_joint
#       - arm_elbow_flex_joint
#       - arm_wrist_flex_joint

#     command_interfaces:
#       - position

#     state_interfaces:
#       - position

#     action_monitor_rate: 20.0

#     allow_partial_joints_goal: false
#     open_loop_control: false
#     set_last_command_interface_value_as_state_on_activation: true

# position_controller:
#   ros__parameters:
#     joints:
#       - waist
#       - shoulder
#       - elbow
#       - wrist_angle