controller_manager:
  ros__parameters:
    # -------------------- General --------------------
    update_rate: 50
    use_rt_thread: false
    use_multithread_executor: true

    # -------------------- Joint State Broadcaster --------------------
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
      joints:
        - joint1
        - joint2

    # -------------------- PID Controller --------------------
    joint1_pid:
      type: pid_controller/PidController
      dof_names: ["joint1"]
      command_interface: position
      reference_and_state_interfaces: ["position"]
      gains:
        joint1: 
          p: 1.0
          i: 0.0
          d: 0.0
          feedforward_gain: 1.0
