controller_manager:
  ros__parameters:
    update_rate: 50
    use_rt_thread: false
    use_multithread_executor: true

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
      joints:
        - joint1
        - joint2

